<!DOCTYPE html>
<html lang="uk">
<head>
 <meta charset="UTF-8">
   <title>{{ title }}</title>
   <style>
   nav {
       text-align: center;
       margin-top: 10px;
     }
   body{
       background: rgba(60, 189, 136, 0.86);
   }
     nav ul {
       list-style: none;
       padding: 0;
     }
     nav li {
       display: inline;
       margin: 0 10px;
     }
      footer {
       text-align: center;
       margin-top: 20px;
     }
    </style>
</head>
<body>
<h1 style="text-align: center;">Міця для риболовлі</h1>
  <nav>
    <ul>
      <li> <a href="/home">Головна</a></li>
      <li> <a href="/species">Поради</a></li>
      <li><a href="/tackle">Спорядження</a></li>
    </ul>
  </nav>
    <main class="content">
        <section id="places">
          <a>Для кожної рибалки потрібно знати місце, час та багато різних факторів для хорошого кльову.</a>
        Звичайно, ось розповідь про рибальські місця в Україні:
          <p><b><i>Україна</i></b> – справжній рай для рибалок.
Різноманітність водойм, від широких річок до затишних озер, робить її привабливою для любителів риболовлі з усієї країни.
  Дніпро та його водосховища</p>

          <p><b><i>Дніпро</i></b> – головна водна артерія України.
            Тут розташовані численні водосховища, такі як Київське, Канівське, Кременчуцьке та інші.
Вони славляться великою кількістю риби: судак, щука, сом, лящ, карась.
            Особливо популярні місця для риболовлі – це затоки та гирла приток Дніпра.</p>
<p><b><i>Дельта Дунаю</i></b>
 – унікальне місце, де річка впадає в Чорне море.
  Тут водиться близько 100 видів риб, серед яких сом, щука, судак, короп.
  Риболовля в дельті Дунаю – це справжня пригода, особливо для тих, хто любить ловлю з човна.</p>
<p><b><i>Річка Десна</i></b>
– одна з найчистіших річок України. Вона відома своєю мальовничою природою та різноманіттям риби.
Тут можна зловити щуку, окуня, ляща, карася. Особливо популярні місця для риболовлі – це заплавні озера та стариці Десни.
          <p><b><i>Озеро Світязь</i></b>
– найглибше озеро України, розташоване на Волині.
            Воно славиться своєю кришталево чистою водою та рідкісними видами риб, такими як вугор та сиг.
            Також тут добре ловиться щука, окунь та карась.</p>
          <p><b><i>Карпатські річки</i></b>
 такі як Прут, Черемош та Тиса, приваблюють любителів ловлі форелі та харіуса.
Риболовля в гірських річках – це не лише можливість зловити рибу, але й насолодитися красою карпатської природи.</p>
          <p><b><i>Платні водойми</i></b>
В Україні також є багато платних водойм, де можна порибалити в комфортних умовах.
            Тут зазвичай добре ловиться короп, карась, щука та інші види риб.</p>
          <a href="https://goldfishnet.in.ua/map">Карта</a>
             <nav>
    <ul>
      <li> <a href="/home">Головна</a></li>
      <li> <a href="/species">Поради</a></li>
      <li><a href="/tackle">Спорядження</a></li>
    </ul>
  </nav>
        </section>
    <a></a>Контакти: <a  href="https://t.me/HolodiukVladyslav"> Telegram </a>
     <p><a href ="tel:+380972062165"> тел.: +38(0972)06-21-65</a></p>
      <a href= "mailto:golodiukvlad2008@gmail.com">Email:golodiukvlad2008@gmail.com</a>
      <h4 style="text-align: center;">@ 2025 Рибалка.ua</h4>
   </main>
 </body>
</html>