<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
        <title>Рибалка.ua</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

    {% block header %}
    {% endblock header%}

    {% block content %}
    {% endblock content %}

     {% block footer %}
    {% endblock footer %}

</html>
