<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
    <style>
   nav {
       text-align: center;
       margin-top: 10px;
     }
   body{
       background: #00ffe1;
   }
     nav ul {
       list-style: none;
       padding: 0;
     }
     nav li {
       display: inline;
       margin: 0 10px;
     }
      footer {
       text-align: center;
       margin-top: 20px;
     }
    </style>
</head>
<body>
  <h1 style="text-align: center;">Ласкаво просимо риболови</h1>
  <nav>
    <ul>
      <li><a href="/species">Поради</a></li>
      <li><a href="/tackle">Спорядження</a></li>
      <li><a href="/places">Місця</a></li>
    </ul>
  </nav>
  <main class="content">
    <section id="home">
      <p><b>Рибовниство</b> — один з основних напрямів аквакультури й галузь сільського господарства, яка займається вирощуванням риби,
        покращенням і збільшенням рибних запасів у водоймах.
        Рибництво в морських водоймах розглядається як одне з напрямків в марикультурі. Для розведення риби використовують
        природні або штучні водойми, в тому числі басейни, танки, садки й акваріуми тощо.</p>
      <p><b>В Україні</b> рибництвом займається відділ аквакультури та селекції при Головному державному
        управлінні охорони, відновлення, використання водних живих ресурсів і регулювання рибництва,
        яке є департаментом Державного агентства рибного господарства.</p>
      <p><a href="https://youtu.be/ry2_p2WQ5LM">Ютуб рибалка</a></p>
      <a href="https://www.ukr.net">
        <img src="https://i.ytimg.com/vi/aJRKkmiNljY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDeYj07dGtOazHy5NYtPD4ICvl6EQ" width="450" height="200" alt="">
      </a>
         <nav>
    <ul>
      <li><a href="/species">Поради</a></li>
      <li><a href="/tackle">Спорядження</a></li>
      <li><a href="/places">Місця</a></li>
    </ul>
  </nav>
        <p>Контакти: <a href="https://t.me/HolodiukVladyslav"> Telegram </a></p>
      <p><a href="tel:+380972062165"> тел.: +38(0972)06-21-65</a></p>
      <a href="mailto:golodiukvlad2008@gmail.com">Email:golodiukvlad2008@gmail.com</a>
      <h4 style="text-align: center;">@ 2025 Рибалка.ua</h4>
    </section>
  </main>
</body>
</html>