<!DOCTYPE html>
<html lang="uk">
<head>
   <meta charset="UTF-8">
 <title>{{ title }}</title>
       <style>
   nav {
       text-align: center;
       margin-top: 10px;
     }
   body{
       background: #00ffb2;
   }
     nav ul {
       list-style: none;
       padding: 0;
     }
     nav li {
       display: inline;
       margin: 0 10px;
     }
      footer {
       text-align: center;
       margin-top: 20px;
     }
    </style>
</head>
<body>
 <h1 style="text-align: center;">Спорядження для риболовлі</h1>
 <nav>
  <ul>
   <li><a href="/home">Головна</a></li>
   <li><a href="/species">Поради</a></li>
   <li><a href="/places">Місця</a></li>
  </ul>
  </nav>
    <main class="content">
        <section id="species">
  <p>Первісно для волосіні використовували кінський волос (звідки й саме слово «волосінь»), шовк та інші.
  Її плели з кількох ниток, з чим пов'язана друга назва волосіні — «ліса», «ліска» (буквально — «плетінка»).
  Іноді припускають, що це слово є семантичним росіянізмом, але в «Словарі Грінченка» «ліскою» називається
  плетена волосінь, а «волосінню» — волосінь з кінського волосу.
  У XX сторіччі високотехнологічні синтетичні матеріали: капрон, нейлон, поліетилен — повністю витіснили
  з ужитку натуральні.</p>
<p><b><i>Вудилище:</i></b>
Це довга гнучка палиця, яка використовується для закидання наживки та вивудження риби.
Вудилища бувають різних типів (спінінгові, поплавкові, фідерні тощо) залежно від способу риболовлі.</p>
          <ul>
<li><a href = "https://rybray.com.ua/uk/vudylyshcha/?srsltid=AfmBOoqeYBd9yQVZU-x0YxJpqcJK_Cyeuk1VD7xke40B8iCz0MkyReVK">
  Вудилища</a></li>
 <p><b><i>Котушка:</i></b>
Це механізм, який кріпиться до вудилища і використовується для зберігання та змотування ліски.
Котушки бувають інерційні та безінерційні.</p>

           <li><a href = "https://fanatik.com.ua/ua-katushki/"> Котушка</a>
 <p><b><i>Ліска:</i></b>
Це тонка нитка, яка з'єднує вудилище з гачком.
Ліска буває різних типів (монофільна, плетена) і товщини залежно від виду риболовлі та розміру риби.</p>

 <li><a href = "https://zabros.com.ua/ua/rybalka/leski-i-shnury/leski/?srsltid=AfmBOopexfVik_h_8uqnomuRChhYInXdHKs5XCGoITBkj-Z_-fMwLbvr"> Ліска</a></li>
           <p><i><b>Гачки:</b></i>
Це металеві вироби, які використовуються для насаджування наживки та затримання риби.
  Гачки бувають різних розмірів і форм залежно від виду риби та наживки.</p>

            <li><a href = "https://fanatik.com.ua/ua-hooks/"> Гачки</a></li>
 <p><b><i>Наживка:</i></b>
Це те, що використовується для приваблення риби.
Наживка буває:
Рослинного походження(кукурудза, горох, хліб).
Тваринного походження(черв'яки, опариші, мотиль).
Штучна(блешні, воблери, силіконові приманки).</p>

          <li><a href = "https://www.nhnl.com.ua/product-category/bait/"> Наживка</a></li></ul>
            <nav>
  <ul>
   <li><a href="/home">Головна</a></li>
   <li><a href="/species">Поради</a></li>
   <li><a href="/places">Місця</a></li>
  </ul>
  </nav>
     </section>
     <a></a>Контакти: <a  href="https://t.me/HolodiukVladyslav"> Telegram </a>
     <p><a href ="tel:+380972062165"> тел.: +38(0972)06-21-65</a></p>
      <a href= "mailto:golodiukvlad2008@gmail.com">Email:golodiukvlad2008@gmail.com</a>
      <h4 style="text-align: center;">@ 2025 Рибалка.ua</h4>
         </main>
</body>
</html>